{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}

    <div id="forget-password">
        <form method="post" action="{{ path('app_recovery_password') }}">
            <div class="row offset-5">
                <label for="mail">Entrez votre email</label>
            </div>

            <div class="row offset-5">
                <input type="email" name="mail" id="mail">
            </div>

            <div class="row offset-5">
                <input type="submit" class="btn-primary">
            </div>

        </form>
    </div>

{% endblock %}