{% extends "base.html.twig" %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
    <h1>Entrez votre Nouveau mot de passe</h1>

    {{ form_start(formPassword, {
        'attr': {
            'novalidate': 'novalidate'
        }})
    }}

    {{ form_widget(formPassword) }}

    <button class="btn btn-success">Envoyer !</button>
    {{ form_end(formPassword) }}
{% endblock %}