{% extends "baseMail.html.twig" %}

{% block title %}Test{% endblock %}

{% block content %}

    <div>

        <p>
            Bonjour {{ name }}, voici un beau mail!
            Pour entrer un nouveau mot de passe cliquer <a href="{{ path('app_new_password',{"id":resetCode}) }}">ici</a>
        </p>

    </div>

{% endblock %}