{% extends "baseMail.html.twig" %}

{% block title %}Test{% endblock %}

{% block content %}

    <div>

        <p>
            Bonjour {{ name }}, voici un beau mail!
        </p>

    </div>

{% endblock %}