{% extends 'base.html.twig' %}

{% block title %} Les sorties du moment !{% endblock %}

{% block content %}
    <div class="container-fluid table table-responsive">
        <table class="table table-striped">


            <tr class="d-flex">
                <th class="">Nom</th>
                <th class="">Date</th>
                <th class="">Clôture</th>
                <th class="">inscrits / places</th>
                <th class="">Etat</th>
                <th class="">Inscrits</th>
                <th class="">Organisateur</th>
                <th class="">Action</th>
            </tr>

        </table>
    </div>


{% endblock %}